@font-face {
	font-family: 'Raleway-Regular';
	src: url(fonts/Raleway-Regular.ttf)
}

@font-face {
	font-family: crock;
	src: url('fonts/crock.ttf');
}

@font-face {
	font-family: HapnaSlabSerif-Medium;
	src: url('fonts/HapnaSlabSerif-Medium.ttf');
}

  
*,*:focus,*:hover{
	outline:none;
}

body {
	text-transform: uppercase;
	  font-family: "crock", HapnaSlabSerif-Medium, serif;
	user-select: none;
	background: transparent;
	display: none;
}

.overlay {
	position: fixed;
	inset: 0;
	background: radial-gradient(transparent, rgba(34, 35, 51, 1));
}

.dialog-blank {
	position: absolute;
	width: 610px;
    min-height: 215px;
    height: auto !important;
	left: 50%;
	bottom: 50px;
	padding-top: 15px;
	transform: translate(-50%, 0);
	position: absolute;
	background-image: url(dialogbg.png);
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 100% 100%;
}

.npc-name {
	position: relative;
	color: #dfdfdf;
	text-shadow: 0 1px 1px #6b6b6b, 
      -4px 3px 1px #6b6b6b; 
	font-size: 30px;
	font-weight: 300;
	padding-top: 0%;
	padding-bottom: 2%;
	left: 5.5%;
}

.npc-second-name {
	position: relative;
	color: #7e1921;
	text-shadow: 0 1px 1px #121212, 
      -4px 3px 1px #181818; 
	font-size: 30px;
	font-weight: 200;
	padding-top: 0%;
	padding-bottom: 1%;
	left: 6%;
	margin-right: 4vh;
}

.npc-profession {
	position: fixed;
	color: #00f8b9;
	font-size: 13px;
	font-weight: 700;
	background-color: rgba(46, 129, 108, 0.9);
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 1.5%;
}

.npc-rep {
	position: fixed;
	color: #00f8b9;
	font-size: 13px;
	font-weight: 700;
	background-color: rgba(46, 129, 108, 0.9);
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 1.5%;
	right: 4.3%;
}

.dialogbox {
	position: relative;
	color: #fff;
	background-image: url(selection_box_bg_1d.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	width: 530px;
	top: 3.2%;
	left: 4.4%;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	padding: 12px;
	border-radius: 10px;
}

.btn-settings {
	padding-top: 0.8%;
	padding-bottom: 3%;
}

.btn-normal {
	position: relative;
	margin: 5px 15px;
	left: 3.8%;
	height: 35px;
	width: 250px;
	background-image: url(selection_box_bg_1d.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	border: none;
	color: #fff;
	border-radius: 8px;
}

.btn-normal:hover {
	transition: 600ms;
	transform: scale(1.18);
	color: #fff;
}

.digit-box{
	position: relative;
	width: 25px;
	height: 25px;
	top: 1%;
	right: 4.5%;
	text-align: center;
	background-image: url(selection_box_square.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.button-text {
	position: absolute;
	width: 200px;
	height: 40px;
	color: #fff;
	text-decoration: none;
	text-align: left;
	left: 13.5%;
	top: 17.5%;
}

.button-id {
	color: #fff;
}